<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{valuerows}">
        <f:if condition="{valuelayout}==0">
            <f:then>
                <f:for each="{valuerows}" as="valuerow">
                    <div class="row">
                        <f:render partial="Values/Box" arguments="{valueboxes: valuerow.valueboxes, valuelayout: valuelayout}" />
                    </div>
                </f:for>
            </f:then>
            <f:else>
                <f:variable name="colcount">0</f:variable>
                <f:for each="{valuerows}" as="valuerow">
                    <f:if condition="{colcount}<{valuerow.valueboxes -> f:count()}">
                        <f:variable name="colcount">{valuerow.valueboxes -> f:count()}</f:variable>
                    </f:if>
                </f:for>
                <f:for each="{valuerows}" as="valuerow">
                    <f:render partial="Values/Box" arguments="{valueboxes: valuerow.valueboxes, valuelayout: valuelayout, colcount: colcount}" />
                </f:for>
            </f:else>
        </f:if>
    </f:if>
</html>
