/****************************************************************************************
# Default css file for content edited with CKEditor
#
# ***************************************************************************************/

body
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1.0rem;
	line-height: 1.4rem;
	letter-spacing: 0rem;

	/* Text color */
	color: ccc;
}
