<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <header class="header fixed-top" id="header">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center" href="/">
                <img src="<f:uri.image src='EXT:veridat_site_package/Resources/Public/img/r_logo.png' />" alt="radmantis.com logo" />
            </a>
            <nav class="navbar" id="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="/#contact">Talk to Sales</a></li>
                    <li><a class="nav-link scrollto" href="/#recent-blog-posts">News</a></li>
                    <li><a class="nav-link scrollto" href="/#Technology">Technology</a></li>
                    <li><a class="nav-link scrollto" href="/#Products">Products</a></li>
                    <li><a class="nav-link scrollto" href="/#Team">Team</a></li>
                    <li><a class="getstarted scrollto" href="https://bench.veridat.io/login" target="_blank">Log in</a></li>
                </ul>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <main id="main">

        <f:cObject typoscriptObjectPath="lib.content" />

        <f:if condition="{data.contactform}">
        <section class="contact" id="contact">
            <div class="container" data-aos="fade-up">
                <div class="row gy-4">
                    <div class="col-lg-4">
                        <div class="contact_information">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 style="margin-bottom: 0;">Contact Information</h4>
                                    <h2>{settings.companyname}</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <img src="<f:uri.image src='EXT:veridat_site_package/Resources/Public/img/map.png' />" class="img-fluid" alt="email icon" />
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="icon"></div>
                                                <h3 class="text-uppercase">Address</h3>
                                                <p>{settings.companyaddressline1}<br/>{settings.companyaddressline2}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <img src="<f:uri.image src='EXT:veridat_site_package/Resources/Public/img/email.png' />" class="img-fluid" alt="email icon" />
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="icon"></div>
                                                <h3 class="text-uppercase">Email</h3>
                                                <p>{settings.companyemail}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <header class="section-header text-left">
                            <h2>Contact Us</h2>
                        </header>
                        <script>
                            function getParameterByName(name, url = window.location.href) {
                                name = name.replace(/[\[\]]/g, '\\$&');
                                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                                    results = regex.exec(url);
                                if (!results) return null;
                                if (!results[2]) return '';
                                return decodeURIComponent(results[2].replace(/\+/g, ' '));
                            }

                            const mail = getParameterByName('mail');

                            let mailMsg = "";
                            let mailMsgColor = "";

                            if (mail) {
                                if (parseInt(mail) == 1) {
                                    mailMsg = "Your message has been sent.";
                                    mailMsgColor = "#00cc00";
                                } else {
                                    mailMsg = "Your message could not be sent. Please try again.";
                                    mailMsgColor = "#cc0000";
                                }

                                const mailMsgHtml = `<div class="row mx-4 mb-4"><div class="col-md-12" style="font-weight:bold;color:${mailMsgColor}">${mailMsg}</div></div>`;

                                document.write(mailMsgHtml);
                            }
                        </script>
                        <form action="radmantis_action_page.php" class="php-email-form" method="post">
                            <div class="row gy-4">
                                <div class="col-md-6"><input class="form-control" name="name" placeholder="Name" required="" type="text" /></div>
                                <div class="col-md-6 "><input class="form-control" name="cname" placeholder="Company Name" required="" type="text" /></div>
                                <div class="col-md-6"><input class="form-control" name="p_number" placeholder="Phone Number" required="" type="number" /></div>
                                <div class="col-md-6 "><input class="form-control" name="email" placeholder="Email Address" required="" type="email" /></div>
                                <div class="col-md-12"><textarea class="form-control" name="message" placeholder="Message" required="" rows="6"></textarea></div>
                                <div class="col-md-12"><input id="url" name="url" type="hidden" value="" />
                                    <script>
                                        document.getElementById('url').value = location.href;

                                    </script>
                                    <div class="form-group form-group-big">
                                        <!-- div class="g-recaptcha" data-sitekey="6LcdRVEaAAAAAMDLQpkWA5CcOLA2QgEBGdIr6Aoa"></div -->
                                        <!--div class="g-recaptcha" data-sitekey="6Lef5HwaAAAAAK1knJVW88yGTSkez3IS5Zsx5d1P"></div -->
                                        <div class="g-recaptcha" data-sitekey="6LdwuR0iAAAAAN9-Cz2YBayaa4MFaEPfl0puAEvr"></div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                    <button name="submit" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        </f:if>
        <!-- End Contact Section -->
    </main>

    <footer class="footer" id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-md-4 footer-info">
                        <a class="logo d-flex align-items-center" href="#">
                            <img src="<f:uri.image src='EXT:veridat_site_package/Resources/Public/img/r_logo.png' />" alt="radmantis.com logo" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="copyright">&copy; 2022 Radmantis, LLC. <span><a href="/privacy-policy">Privacy Policy </a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--f:debug>{_all}</f:debug-->
</html>