<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
    <!-- empty header -->
</f:section>
<f:section name="Main">

    <section class="hero d-flex align-items-center" id="hero" style="background: url(../img/banner.png) top center no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">{data.header}</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">{data.subheader}</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start"><a class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" href="#contact"><span>Get In Touch</span> </a></div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200"><img alt="" class="img-fluid" src="#.png"></div>
            </div>
        </div>
    </section>

    <f:debug>{_all}</f:debug>

</f:section>
</html>
